* {
  font-family: Manrope, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255 211 220);
}

#container {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-areas: 'nav header' 'main main' 'footer footer';
}


#container::after { /* todo: review line */
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  padding: 1rem 0;
  font-family: 'Suez One', serif;
  color: #000;
  text-shadow: 2px 2px 4px #fff;
}

header {
  grid-area: header;
  background-color: #f19797;
  padding: 1rem;
}

nav {
  grid-area: nav;
  background-color: rgb(44 62 80 / 100%); /* darkest blue */
  text-align: center;

  /* color: rgba(52, 152, 219, 1.0);!*light blue*! */
  font-size: 1.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
  color: rgb(52 152 219 / 100%); /* light blue */
}

.navbar-brand {
  display: inline;
  float: left;
}

.navbar-links {
  display: inline;
  float: right;
}

a, a:visited {
  color: rgb(52 152 219 / 100%);

  /* color:hotpink; */
  text-decoration: none;
}

nav a {
  /* margin:0 0.5rem; */
  padding: 0 0.5rem;
  font-size: 1.5rem;

  /* border: 1px solid rgba(52, 152, 219, 1.0); */

  /* border-radius:0.5rem; */
}

nav a:hover {
  /* color: rgba(44, 62, 80, 1.0); !* darkest blue *! */

  /* background-color: rgba(52, 152, 219, 1.0); !*light blue*! */
  border-bottom: 3px solid rgb(52 152 219 / 100%);
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: #edd;
}

table {
  width: 100%;
  border: 2px solid #666;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #888;
  padding: 0.2rem;
  text-align: left;
}

th {
  background-color: #000;
  color: #fff;
}

img .thumb {
  max-width: 90px;
}

footer {
  grid-area: footer;
  padding: 1rem;
  background-color: #e7b5b5;
}

footer p {
  color: #000;
  text-shadow: 2px 2px 4px #fff;
  font-size: 1.5rem;
}

footer img {
  float: right;
}


@media only screen and (width <= 768px) {
  nav {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    user-select: none;
  }

  nav a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: tomato;
  }

  nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  nav span:first-child {
    transform-origin: 0% 0%;
  }

  nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000;
  }

  /*
   * But let's hide the middle one.
   */
  nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  nav ul {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px;
    background: #ed9999;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  nav ul li {
    padding: 5px 0;
  }

  /*
   * And let's slide it in from the left
   */
  nav input:checked ~ ul {
    transform: none;
  }
}

@media only screen and (width >= 768px) {
  #container {
    grid-template-columns: 180px auto;
    grid-template-areas: 'header header' 'nav main' 'footer footer';
  }

  nav {
    background: #a5e5e5;
    padding: 0.5rem;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    padding: 0.2rem 0;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
    color: #000;
    background-color: #fff;
  }

  nav input, nav span {
    visibility: hidden;
  }

  main {
    /* background-image: url('/poutama.jpg'); */
  }

  .formRow {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
  }

  .dataForm p input {
    display: inline;
  }
}

@media only screen and (width >= 1000px) {
  #container {
    max-width: 2000px;
    margin: auto;
  }
}
