<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "utf-8">
    <title>Boardgames Dashboard | Home</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <!-- normalize.min.css (minified) v8.0.1 (hosted via Cloudflare's CDN) | MIT License | github.com/necolas/normalize.css -->
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel = "stylesheet" type = "text/css"
          href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity = "sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin = "anonymous" referrerpolicy = "no-referrer"/>

    <link href = "{{ url_for('static', path='css/style.css') }}" rel = "stylesheet" type = "text/css">

    {% block head %}
    {% endblock %}

    <!-- TODO: actually write the description out -->
    <meta name = "description" content = "Dashboard for board-games club">
</head>

<!-- TODO: rejig everything from here onwards -->
<body>
<div id = "container">

    <header> <!-- todo: rejig header -->
        <h1>Boardgames Dashboard</h1>
        <h2>{% block heading %}{% endblock %}</h2>
    </header>

    <nav>
        <label>
            <input type = "checkbox" name = "drop_down_menu"/>
        </label>
        <span></span>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/games">Games</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <p>
            &copy; 2023 Aaron Lowe</p>
    </footer>

</div>
</body>

</html>
