{% extends 'base.html' %}

{% block head %}
    <style>
        #list ul {
            padding-left: 50px;
        }
    </style>
    <script type = "module">
        import ResourceManager from '../static/js/utils.js';

        let editedGameId = null;
        const auth_token = ResourceManager.getCookie('access_token');
        const HTTP_409_CONFLICT = 409;
        const HTTP_404_NOT_FOUND = 404;
        const HTTP_410_GONE = 410;

        window.editGame = async function editGame (id) {
            if (id) {
                editedGameId = id;

                // Make the edit form visible

                document.getElementById('edit_form' + id).style.display = 'inline';
            }
        };

        window.submitChanges = async function submitChanges (id) {
            const field = document.getElementById('selector' + id).value;
            const value = document.getElementById('edit' + id).value;
            let updatedGame = {};

            if (field === 'Name') {
                updatedGame.name = value;
            } else if (field === 'Description') {
                updatedGame.description = value;
            }

            const response = await ResourceManager.editResource(id, updatedGame, '/games', auth_token);
            if (response.ok) {
                window.location.reload();
            } else {
                switch (response.status) {
                    case HTTP_409_CONFLICT:
                        alert('You cannot change the name of a game to one that already exists in the database!');
                        break;
                    case HTTP_404_NOT_FOUND:
                        alert('This game does not currently exist in the database.');
                        break;
                    case HTTP_410_GONE:
                        alert('This game has been deleted and no longer exists in the database.');
                        break;
                    default:
                        alert('An unknown error occurred');
                }
            }


            // Hide edit form after submitting

            document.getElementById('edit_form' + id).style.display = 'none';
        };

        window.deleteGame = async function (id) {
            if (confirm('Are you sure?')) {
                const response = await ResourceManager.deleteResource(id, '/games', auth_token);
                if (response.ok) {
                    window.location.reload();
                }
            }
        };
        document.addEventListener('DOMContentLoaded', () => {
            ResourceManager.handleFormSubmission('submitNewGame',
                'You cannot add a game with a name that already exists in the database!', auth_token);
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Games</h1>
    <p>This is a list of current games</p>
    <ul id = 'list'>
        {% for game in games %}
            <li>
                {{ game.name }}
                {% if editing_stick %}
                    <button onclick = "editGame({{ game.id }})" type = "button">Edit</button>
                    <button onclick = "deleteGame({{ game.id }})" type = "button">Delete</button>

                    <!-- Hidden labels, selector, text box and submit button for editing within a span tag -->
                    <span id = "edit_form{{ game.id }}" style = "display: none;">
                <label for = "selector{{ game.id }}">Choose field:</label>
                <select id = "selector{{ game.id }}">
                    <option value = "Name">Name</option>
                    <option value = "Description">Description</option>
                </select>

                <label for = "edit{{ game.id }}">New value:</label>
                <input type = "text" id = "edit{{ game.id }}" />

                <button id = "submit{{ game.id }}" onclick = "submitChanges({{ game.id }})">Submit</button>
            </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if editing_stick %}
        <h2>Add a new game</h2>
        <form id = "submitNewGame" action = "/games" method = "post">
            <label for = "name">Game Name</label>
            <input type = "text" id = "name" name = "name" required><br>
            <label for = "description">Game Description</label>
            <input type = "text" id = "description" name = "description" required><br>
            <input type = "submit" value = "Submit">
        </form>
    {% endif %}

{% endblock %}
