{% extends 'base.html' %}

{% block head %}
    <!--suppress JSCheckFunctionSignatures -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('userLogin').addEventListener('submit', async function (event) {
                event.preventDefault();
                try {
                    const response = await fetch('/token', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams(new FormData(this)),
                    });
                    if (response.ok) {
                        window.location.href = '/';
                    } else {
                        alert('Invalid username or password!');
                    }
                } catch (err) {
                    console.error(err);
                    alert('An error occurred. Please try again.');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>User Login</h1>

    <form id = "userLogin" action = "#" method = "post">
        <label for = "username">Username</label>
        <input type = "text" id = "username" name = "username" autocomplete = 'username' required><br>

        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" autocomplete = 'current-password' required><br>

        <input type = "submit" value = "Login">
    </form>
{% endblock %}
