{% extends 'base.html' %}

{% block head %}
    <style>
        ul {
            padding-left: 50px;
        }
    </style>
    <script type = "module">
        import ResourceManager from '../static/js/utils.js';

        const auth_token = ResourceManager.getCookie('access_token');
        const HTTP_410_GONE = 410;

        window.deleteMatch = async function (id) {
            if (confirm('Are you sure?')) {
                const response = await ResourceManager.deleteResource(id, '/match', auth_token);
                if (response.ok) {
                    window.location.reload();
                }
            }
        };
    </script>
{% endblock %}

{% block content %}
    TODO: ADD GAME AND ADD NOTE SAYING YOU CAN'T EDIT PLAYERS SO USERS SHOULD RECREATE MATCH
    <h1>Match information for #{{ match.id }}</h1>
    <ul>
        <li>Match ID: {{ match.id }}</li>
        <li>Game: {{ game_name }}</li>
        <li>Players:
            <ul>
                {% for player in match.players %}
                    <li>{{ player.player.username }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Winner: {{ match.results.won.username }}</li>
        <li>Played on (UTC time): {{ match.played_at.strftime('%d %B, %Y at (approximately) %-I:%M%p') }} </li>
    </ul>
    {% if editing_stick %}
        <button onclick = "deleteMatch({{ match.id }})" type = "button">Delete</button>
    {% endif %}
{% endblock %}
