{% extends 'base.html' %}

{% block head %}
    <script type = 'module'>
        import ResourceManager from '../static/js/utils.js';

        const auth_token = ResourceManager.getCookie('access_token');

        document.addEventListener('DOMContentLoaded', () => {
            ResourceManager.handleFormSubmission('submitNewMatch',
                'You cannot add a match that already exists! ' +
                'You must assign unique and appropriate properties for a match.', auth_token);
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Add Game Match</h1>

    <form id = "submitNewMatch" action = "/match" method = "post">

        <label for = "game">Choose a game:</label>
        <select name = "game" id = "game">
            {% for game in games %}
                <option value = "{{ game.id }}">{{ game.name }}</option>
            {% endfor %}
        </select><br>

        <label for = "played_at">Played at: </label>
        <input type = "datetime-local" id = "played_at" name = "played_at"><br>

        <label for = "winner">Winning player username</label>
        <input type = "text" id = "winner" name = "winner"><br>

        <label for = "loser">Losing player username</label>
        <input type = "text" id = "loser" name = "loser"><br>

        <input type = "submit" value = "Add Match">
    </form>
{% endblock %}
